* {
    background-color: rgb(131, 126, 126);
    color: white;
}

a {
    font-size: 24px;
}

.main {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

img {
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

em {
    color: black;
}

h3 {
    color: antiquewhite;
}

li {
    margin: 8px;
}

.card {
    width: 400px;
    border: 2px solid red;
}